* {
    margin: 0;
    padding: 0;
    }
    body {
    height: auto;
    width: 100%;
    }
    
    .main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    }

    .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    }
    
    .todo {
        color:rgb(90, 89, 89);
    }
    
    .panel {
    padding: 20px;
    border: solid rgb(192, 191, 191) 1px;
    border-radius: 6px;
    position: relative;
    display: flex;
    width: 25rem;
    align-items: center;
    justify-content: space-around;
    }
    
    .panel:hover {
    transform:scale(1.05);
    }
    
    .layout {
    width: 90%;
    }

 i {
    color: rgb(202, 200, 200);
    }
    
    .title {
    color:rgb(90, 89, 89);
    }
    
    .desc {
        color:rgb(126, 125, 125);
        font-weight: 500;
        }

.hidden {
display: none !important;
}

.expand {
width: 10rem;
padding: 3px;
}

.expand2 {
width: 4rem;
}

.table-container {
display: flex;
flex-direction: column;
}
.save {
font-size: 10px;
}

.editable {
    border: solid black 1px !important;
    background-color: rgb(255, 253, 253) !important;
    align-self: center !important;
    }
        
.inputted-contacts:hover, .company-rows:hover, .types-row:hover {
    background-color: rgb(255, 255, 255);
    }

table {
background-color:rgb(251, 244, 238);
border-radius: 10px;
}

table th {
    background-color:rgb(250, 226, 206) !important;
}

.table-container {
padding: 20px;
}

.shrink {
width:4rem;
font-size: 14px;
}

.add-btn-td {
padding-left: 5px;
}

.company-row {
width: 22rem;
padding: 5px;
}

.type-cat-row {
width: 15rem;
}

.white {
color: white !important;
}

.input-rows {
    vertical-align: middle;
}

.border th {
border: 1px solid white;
}

.edit {
font-size: 12px;
}

.inputted-contacts:hover {
    background-color: rgb(251, 244, 238);
}

.content-div {
    background-color:rgb(255, 255, 255);
    transition: transform 5s;
    position:relative;
    bottom: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    overflow-y: scroll;
    height: 15rem;
}

.content-div li {
width: 70%;
}

.content {
display: none;
overflow: hidden;
background-color: azure;
max-height: 0;
transform: translateY(-710px);
}

.rotate {
    transform: rotateZ(180deg);
}

.active {
    background-color:rgb(250, 226, 206) !important;
    border: none;
}

.types-td  .collapsible {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.types-td  span {
justify-self: flex-start;
}

.table-container-tc {
width: 30%;
min-width: 20rem !important;
max-width: 28rem !important;
}

.tc-table {
width: 100%;
}

.tc-table th {
text-align: center;
}


button.collapsible {
position: relative;
}

button.collapsible span {
position: absolute;
top: 20%;
right: 7%;
color:rgb(90, 89, 89);
}

button.collapsible span i {
color:rgb(90, 89, 89);
}

.modal-header {
text-align: center;
}



.modal-body1 li, .modal-body2 li {
list-style: none;
margin-bottom:  2px;;
}

.modal-body1, .modal-body2 {
overflow-y:scroll;
height: 15rem;
}

.modal-body1 {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    }

.modal-body2 {
background-color: rgb(222, 234, 249);
padding: 10px;
border-radius: 10px;
}


@media (max-width: 900px) {

    .grid {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .panel {
width: 90%;
max-width: 22rem;
    }

    .title {
        width: 90%;
        text-align: center;
    }
    
    .add-input {
        display: none;
    }

    .contacts-table, .contacts-table thead, .contacts-table tbody, .contacts-table th, .contacts-table td, .contacts-table tr { 
        display: block; 
    }
    
    .contacts-table th, .contacts-table .header-rows { 
       display:none;
    }
    
    .contacts-table tr { border: 1px solid rgb(31, 30, 30);
        padding: 5px;
    border-radius: 10px;
    width: 17rem;
    margin-bottom: 15px;
     }
    
     .contacts-table td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #ccc; 
        position: relative;
        padding-left: 50%; 
        width: 100%;
    }
    
    .contacts-table td:before { 
        /* Now like a table header */
        position: absolute;
        top: 6px;
        left: 0px;
        width: 100%;
    height: 0px;
        padding-right: 10px; 
    }
    
    /*
    Label the data
    */
    .contacts-table td:nth-of-type(1):before { content: "First Name";
        font-weight: bold;
  }
    .contacts-table td:nth-of-type(2):before { content: "Last Name"; 
        font-weight: bold;  }
    .contacts-table  td:nth-of-type(3):before { content: "Email"; 
        font-weight: bold;  }
    .contacts-table  td:nth-of-type(4):before { content: "Phone Number"; 
        font-weight: bold;  }
    
}

@media (max-width: 400px) {

.home-description {
width: 99%;
}

}

